<header>

  <div class="container">
    <div class="row align-items-center">
      <!-- Menú de navegación -->
      <div>
        <ul>
          <li><a href="#introduccion">Introducción</a></li>
          <li><a href="#instalacion">Instalación</a></li>
          <li><a href="#primeros-pasos">Primeros Pasos</a></li>
          <li><a href="#utilizacion">Utilización</a></li>
          <li><a href="#funcionamiento">Funcionamiento</a></li>
          <li><a href="#conclusiones">Conclusiones</a></li>
        </ul>
      </div>
    </div>  
  </div>
</header>
